




<header class="nav-down">
    <div class="head">
      <a href="#" class="logo">Logo</a>
      <div class="menu-toggle"></div>
      <nav class="transform">
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="clearfix"></div>
    </div>
  </header>
  
  
  
  
  <main>
  
  
  
    <div id='container'>
  
      <div id='content'>
        <div id='basic-modal'>
          <input type='button' name='basic' value='Demo' class='basic' /> or <a href='#' class='basic'>Demo</a>
        </div>
  
        <!-- modal content -->
        <div id="basic-modal-content">
  
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-6 col-lg-6 customlogin">
                <section class="outer-wrapper">
                  <div class="inner-wrapper">
  
                    <div id="log" class="login">
  
                      <p style="color:black;margin-bottom: 12px;"> Log in to Quick4Ship</p>
                      <form>
                        <div class="form-group">
  
                          <input type="email" class="form-control"  aria-describedby="emailHelp"
                            placeholder="Enter email">
  
                        </div>
                        <div class="form-group">
  
                          <input type="password" class="form-control"  placeholder="Password">
                        </div>
  
                        <button type="submit" class="btn btn-primary">Sign In</button>
                      </form>
  
                      <p id="td_id" style="color:black;margin-top: 10px; ">Forgot Password ?</p>
  
                    </div>
  
  
                    <div id="reg" class="register">
  
                      <p style="color:black;margin-bottom: 12px;"> Sign Up to Quick4Ship</p>
                      <form>
                        <div class="form-group">
                          <input type="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control"  aria-describedby="emailHelp"
                            placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control"  placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-bottom:10px;">Sign Up</button>
                      </form>
  
                    </div>
  
                    <a href="#" id="changelog" style="color:black;">Sign Up</a>
  
  
                  </div>
  
  
  
                </section>
  
              </div>
              <div class="col-xl-6 col-lg-6">
  
                <section class="outer-wrapper">
                  <div class="inner-wrapper">
  
                    <div id="logA" class="loginA">
  
                    <p style="color:black;margin-bottom: 12px;text-align: center;"> Sign In With Auth</p>
  
                    <form>
                      <a type="button" class="btn btn-lg btn-block"
                        style="color:#fff;background-color:#3b5999;padding: 0.3rem 1rem;"> <span style="float:left;"><i
                            class="fa fa-facebook-square" aria-hidden="true"></i></span> Facebook sign in</a>
                      <a type="button" class="btn btn-lg btn-block"
                        style="color:#fff;background-color:#4285f4;padding: 0.3rem 1rem;"><span style="float:left;"><i
                            class="fa fa-google" aria-hidden="true"></i></span> Google Sign in</a>
                    </form>
                  </div>
  
                  <div id="sigA" class="signA">
  
                      <p style="color:black;margin-bottom: 12px;text-align: center;"> Sign Up With Auth</p>
  
                      <form>
                        <a type="button" class="btn btn-lg btn-block"
                          style="color:#fff;background-color:#3b5999;padding: 0.3rem 1rem;"> <span style="float:left;"><i
                              class="fa fa-facebook-square" aria-hidden="true"></i></span> Facebook sign Up</a>
                        <a type="button" class="btn btn-lg btn-block"
                          style="color:#fff;background-color:#4285f4;padding: 0.3rem 1rem;"><span style="float:left;"><i
                              class="fa fa-google" aria-hidden="true"></i></span> Google Sign Up</a>
                      </form>
  
  
                  </div>
  
  
                  </div>
                </section>
  
              </div>
            </div>
          </div>
  
  
  
  
  
  
  
        </div>
  
        <!-- preload the images -->
        <div style='display:none'>
          <img src='assets/jquerymodel/img/basic/x.png' alt='' />
        </div>
      </div>
    </div>
  
  
  
  
  
  
  
  </main>
  
  
  
  <footer>
    This is your footer.
  </footer>